//
//  project.xcconfig
//  Exercism
//
//  Created by Angie Mugo on 06/11/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
//:configuration = Debug
PRODUCT_BUNDLE_IDENTIFIER = com.apps-fab.exercism

//:configuration = Release
PRODUCT_BUNDLE_IDENTIFIER = com.apps-fab.exercism

//:configuration = Debug
DEVELOPMENT_TEAM = 6V9B6LUW22

//:configuration = Release
DEVELOPMENT_TEAM = 6V9B6LUW22
